/* Universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink: #ff2db2;
    --lightPink: #ff8fd8;
    --lightRed: #ff4242;
    --darkCyan: #00252e;
    --paleBlue: #F6FBFF;
    --fontPrimary: Poppins;
    --fontSeconday: Open Sans;
}


/* Main Parents Style */
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button{
    font-family: var(--fontSeconday);
    border-radius: 20px;
    text-transform: capitalize;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.button:hover{
    opacity: 60%;
}

.container{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--fontPrimary);
    text-transform: capitalize;
    color: var(--darkCyan);
}

.para{
    font-family: var(--fontSeconday);
    font-weight: 500;
    color: var(--darkCyan);
}

.bgTop, .bgBottom{
    position: absolute;
}


/* Header Style */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.logoSection{
    width: 150px;
}

.tryButton{
    padding: 5px 15px;
    border: 1.5px solid var(--lightPink);
    background-color: white;
    color: var(--lightPink);
    font-weight: 500;
    box-shadow: 1px 1px 3px var(--lightPink);
}


/* Hero Section Style */
.heroSection{
    text-align: center;
    flex-direction: column;
    gap: 50px;
}

.heroSection>.content{
    flex-direction: column;
}

.heroPara{
    width: 45%;
    margin: 20px 0px;
}

.startButton{
    padding: 10px 50px;
    border: none;
    background-color: var(--pink);
    color: white;
    font-weight: 500;
    box-shadow: 0px 3px 3px rgba(181, 181, 181, 0.8);
}

.heroSection>.middleHero{
    padding: 10px 50px;
}

.heroSection>.lowerHero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.subcontent>.imageSection{
    width: 30px;
}

.subcontent>.subcontentHeading{
    font-size: 50px;
    font-weight: 700;
    font-family: var(--fontSeconday);
    margin-bottom: 5px;
    text-align: left;
}

.subcontent>.subcontentPara{
    opacity: 70%;
}

/* Grow Together and Your User section Style */
/* Container */
.growSection,
.userSection{
    background-color: var(--paleBlue);
    padding: 70px;
    justify-content: space-around;
    margin-top: 100px;
}

/* Background Top */
.growSection>.bgTop,
.userSection>.bgTop,
footer>.bgTop{
    width: 100%;
    top: -130px;
    left: 0;
}

/* Background Bottom */
.growSection>.bgBottom,
.userSection>.bgBottom{
    width: 100%;
    bottom: -120px;
    left: 0;
}

/* Hidding Mobile and Tablet Background */
.growTopMobile, .growBottomMobile, 
.userTopMobile, .userBottomMobile,
.footerTopMobile{
    display: none;
}

/* Flowing Conversations and Ready to Build Section Style */
.readySection,
.conversationSection{
    margin-top: 100px;
    justify-content: space-around;
}


/* All sections Combined Style Excluding Hero Section */
/* Content */
.growSection>.content,
.conversationSection>.content,
.userSection>.content,
footer>.content{
    width: 40%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-between;
}

/* Heading */
.leftGrow>.growHeading,
.rightConversation>.conversationHeading,
.leftUser>.userHeading{
    text-align: left;
    margin-bottom: 20px;
}

/* Paragraph */
.leftGrow>.growPara,
.rightConversation>.conversationPara,
.leftUser>.userPara,
.contactSection>.contactPara{
    font-size: 14px;
}

/* Ready Section Style */
.readySection>.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

/* Footer Section */
footer{
    background-color: var(--darkCyan);
    position: relative;
    margin-top: 150px;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactSection>.contactPara,
.helpSection>.helpPara{
    color: var(--paleBlue);
    width: 70%;
    font-size: 14px;
    margin: 20px 0px;
}

.contactSection>.subContent{
    display: flex;
    align-items: center;
    color: var(--paleBlue);
    width: 100%;
    margin-bottom: 20px;
}

.contactSection>.subContent>.imageSection{
    width: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.contactSection>.subContent>.para{
    font-size: 14px;
    color: var(--paleBlue);
}

.contactSection>.socialMedia{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.contactSection>.socialMedia>.imageSection{
    border: 1.5px solid white;
    cursor: pointer;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    padding: 7px;
    margin-right: 20px;
    transition: background-color 0.2s linear, border-color 0.2s linear;

    &:hover{
        background-color: rgb(36, 170, 197);
        border-color: rgb(36, 170, 197);
    }
}

.helpSection>.heading{
    color: var(--paleBlue);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.helpSection>.inputSection{
    width: 100%;
}

.inputSection>.email{
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin-right: 20px;
    width: 60%;
    
}

.inputSection>.subscribe{
    border: none;
    padding: 8px 20px;
    border-radius: 3px;
    color: white;
    font-family: var(--fontPrimary);
    font-weight: 500;
    background-color: var(--pink);
}

@media only screen and (max-width:1025px) and (min-width:540px) {
    /* Background Top */
.growSection>.bgTop,
.userSection>.bgTop,
footer>.bgTop{
    width: 100%;
    top: -80px;
    left: 0;
}

/* Background Bottom */
.growSection>.bgBottom,
.userSection>.bgBottom{
    width: 100%;
    bottom: -75px;
    left: 0;
}
}

@media only screen and (max-width:540px) {
    /* Main Parents Style for Mobiles and Tablets */
    header{
        padding: 20px;
    }

    .container{
        padding: 50px 30px;
    }

    .heading{
        font-size: 25px;
    }

    .para{
        font-size: 14px;
    }

    .heading, .para{
        width: 100%;
    }


    /* Hero Section Style for Mobile and Tablets */
    .heroSection>.lowerHero{
        flex-direction: column;
        gap: 50px;
    }

    .heroSection>.middleHero{
        padding: 0;
    }

    /* Grow Together Section Style for Mobile and Tablets  */
    .growSection{
        flex-direction: column-reverse;
        gap: 50px;
    }

    .growSection>.content{
        width: 100%;
    }

    .growTopDesktop, .growButtomDesktop{
        display: none;
    }

    .growTopMobile, .growBottomMobile{
        display: block;
    }

    .growSection>.bgTop{
        top: -100px;
    }

    .growSection>.bgBottom{
        bottom: -50px;
    }

    .leftGrow>.growHeading,
    .leftGrow>.growPara{
        text-align: center;
    }


    /* Flowing Conversations Section Style for Mobile and Tablets  */
    .conversationSection{
        flex-direction: column;
        gap: 50px;
    }

    .conversationSection>.content{
        width: 100%;
    }

    .rightConversation>.conversationHeading,
    .rightConversation>.conversationPara{
        text-align: center;
    }

    /* Your User Section Style for Mobile and Tablets */
    .userSection{
        flex-direction: column-reverse;
        gap: 50px;
    }

    .userSection>.content{
        width: 100%;
    }

    .userTopDesktop, .userButtomDesktop{
        display: none;
    }

    .userTopMobile, .userBottomMobile{
        display: block;
    }

    .userSection>.bgTop{
        top: -80px;
    }

    .userSection>.bgBottom{
        bottom: -80px;
    }

    .leftUser>.userHeading,
    .leftUser>.userPara{
        text-align: center;
    }

    /* Footer Style */
    footer{
        flex-direction: column-reverse;
        padding: 50px 30px;
        gap: 50px;
    }

    footer>.content{
        width: 100%;
    }

    .contactSection>.contactPara,
    .helpSection>.helpPara{
        width: 100%;
    }

    .helpSection>.inputSection{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: end;
    }

    .inputSection>.email{
        width: 100%;
        margin: 0;
    }

    .footerTopDesktop{
        display: none;
    }

    .footerTopMobile{
        display: block;
    }

    footer>.bgTop{
        top: -50px;
    }
}